sounddevice
numpy
faster-whisper
pyautogui
pynput
ollama
openai
keyboard
scipy
python-dotenv

--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision
torchaudio

language-tool-python

pystray
pillow
pyperclip
harper